@font-face {
  font-family: 'Poppins_Light';
  src: url('../../Fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins_Regular';
  src: url('../../Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins_Light';
}

img {
    width: 200px;
    height: auto;
}

main section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  
}

header{
    background-color: #1e1e1e;
    color: #4d3a8a

}

.acessibilidade{
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

i{
    font-size: 20px;
}

.linguas{
     appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4d3a8a;
    color: #1e1e1e;
    border-radius: 45px;
    border-color: #1e1e1e;
    font-family: 'Poppins_Regular';
    font-size: 15px;
}

.linguas:hover {
    background-color: #8c7bdc;
    color: #4d3a8a;
    transform: scale(1.05); /* efeito de leve aumento */
}

hr {
  border: none;               /* Remove a borda padrão */
  height: 3px;                /* Espessura da linha */
  background-color: #4d3a8a;  /* Cor da linha */             /* Espaçamento (opcional) */
}


.sessao_um{
    background-color: #1e1e1e;
    color: #4d3a8a;
}

